.button {
  background-color: $c-lightgreen;
  color: #000;
  display: inline-block;
  font-family: $font-family-base;
  font-size: 1.4rem;
  padding: 10px 14px;
  text-decoration: none;
}

.button-pink {
    background-color: $c-pink;
    border-radius: 4px;
    color: #fff;

    &:hover {
    background-color: #e5a1b7;
   }

}