{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="about">
	{{ page.content}}
    <h1 class="contact-title">Contáctenos</h1>
    <div class="info">
        <img src="{{ url(page.header.contactImage|keys|first) }}" alt="">
        <div class="info-contact">
            <h2>{{ header.contactTitle }}</h2>
            <p>{{ header.mail }}</p>
        </div>
    </div>

</div>
{% endblock %}