.info-vega {
  padding: 0 20px;
  margin-top: 20px;

  h1{
    text-align: center;
    @media screen and (min-width: $medium) {
      font-size: 44px;
    }
  }

  p{
    text-align: center;
    @media screen and (min-width: $medium) {
      width: 85%;
      margin: 0 auto;
      text-align: justify;
    }
  }
}
.image-support{
  -webkit-box-shadow: 0px 7px 5px -3px #a19d9d;
  -moz-box-shadow: 0px 7px 5px -3px #a19d9d;
  box-shadow: 0px 7px 5px -3px #a19d9d;
}
.image-vega{
  margin-top: 64px;
  text-align: center;
}
