.holder {
    @media screen and (min-width: $medium) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.jewelry-page-title {
    border-bottom: 2px solid #84d8d0;

    h1 {
        font-size: 25px;
    }
}

.jewel-list {
    @media screen and (min-width: $medium) {
        width: calc(100% * (1/3))
    }
}

.jewel-list-item {
    background-color: #84d8d0;
    margin: 5px 0;

    @media screen and (min-width: $medium) {
        background-color: transparent;
        margin: 5px 0;
    }
}

.jewel-item {
    display: inline-block;
    width: 50%;
    overflow: hidden;
    vertical-align: middle;
   
    img {   
        width: 100%;
        vertical-align: top;

        @media screen and (min-width: $medium) {
            vertical-align: 0;
            max-height: 100%;
        }
    }

    @media screen and (min-width: $medium) {
        width: 0;
    }
}

.jewel-description-item {
    text-align: center;
    margin: 10% 0;
    padding: 2%;

    p {
        font-size:  15px;
        margin: 50px 0;
    }

    a {
        border-bottom: 1px solid #000;
        font-size: 13px;
    }

    @media screen and (min-width: $medium) {
        display: none;
        background-color: #84d8d0;
    }

}

.jewel-description-desktop {
    display: none;
    @media screen and (min-width: $medium) {
        display: block;
        position: absolute;
        background-color: #84d8d0;
        width: 100%;
        bottom: 0;
        height: 0;
        transition: height 0.5s ease-out;

        span {
            margin: 50px;
            text-align: center;
            display: block;
            
            a {
                text-decoration: underline;
            }
        }
    }
}

.jewel-details-node {
    h1 {
        text-align: center;
    }

    li, p, h3 {
        margin: 30px 0;
    }

    p, li {
        display: inline-block;
        font-size: 14px;
    }

}

.jewel-details {
    border-bottom: 2px solid #84d8d0;
}

.jewel-image-item {
    @media screen and (min-width: $medium) {
        width: 100%;
        position: relative;
        height: 300px;
    
        &:hover {
    
            .jewel-description-desktop {
                height: 30%;
            }
        }
    }
    
}