.maintenance-content{
    display: flex;
    align-items: baseline;
    margin-bottom: 11px;
    h2{
        margin-left: 7px;
    }
}
.list-maintenance{
    li {
        font-family: $font-family-base;
        list-style: circle;
        margin-bottom: 1.5%;
    }
}