.maintenance-wrapper {
  padding: 0 32px;
  @media screen and (min-width: $x-large) {
    padding: 0;
  }
}

.maintenance-content{
  display: flex;
  align-items: baseline;
  margin: 20px 0;
  h2{
    margin-left: 7px;
  }
}

.list-maintenance{
  li {
    font-family: $font-family-base;
    list-style: circle;
    margin-bottom: 20px;
    font-size: 15px;
    @media screen and (min-width: $large) {
      font-size: 17px;
    }
  }
}