// Font Family
$font-family-base:'librecaslontext-regular', sans-serif;
$font-family-contrast:'bodonisansdisplay-regular', serif;
$font-logo: 'gothic', sans-serif;

// Fonts Family Variables
$font-family-base-regular: 400;
$font-family-contrast-regular: 400;

// Main Colors
$c-lightgreen: #81D8D0;
$c-pink: #F3C4D0;
$c-lighgray: #eaeaea;

// Limiter Sizes
$small: 520px;
$medium: 600px;
$large: 800px;
$x-large: 1280px;

// Fonts inside of proyect
@font-face {
    font-family: $font-family-base;
    src: url('../../fonts/librecaslontext-regular-webfont.woff2') format('woff2'),
         url('../../fonts/librecaslontext-regular-webfont.woff') format('woff');
    font-weight: $font-family-base-regular;
    font-style: normal;

}

@font-face {
    font-family: $font-family-contrast;
    src: url('../../fonts/bodonisansdisplay-regular-webfont.woff2') format('woff2'),
         url('../../fonts/bodonisansdisplay-regular-webfont.woff') format('woff');
    font-weight: $font-family-contrast-regular;
    font-style: normal;

}
@font-face {
    font-family: $font-logo;
    src: url('../../fonts/gothic-webfont.woff2') format('woff2'),
         url('../../fonts/gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}